@{
    ViewBag.Title = "About";
}
    <div class="row justify-content-center m-4">
        <div class="card border-info mb-3" " style="max-width: 18rem;">
            <div class="card-header">Acerca de</div>
            <div class="card-body text-info">
                <h5 class="card-title">Informacion sobre la practica</h5>
                <p class="card-text">Esta practica consiste en el desarrollo de una veterinaria a traves de diversos usuarios; ademas de tener diversas vistas para cada rol de usuario.</p>
            </div>
        </div>
    </div>