@{
    ViewBag.Title = "Contact";
}
<div class="row justify-content-center m-4">
    <div class="card mb-3"  style="width:400px">
        <img src="~/Content/img/Mifoto.jpg" class="card-img-top" alt="..." >
        <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">
                <address>
                    <span class=""></span><strong>Nombre:</strong>
                    <p>Chavez Lopez Eduardo Guillermo</p>
                    <span class=""></span><strong>Carrera:</strong>
                    <p>Ingenieria en Informatica</p>
                    <span class=""></span><strong>Semestre:</strong>
                    <p>6to</p>
                    <span class=""></span><strong>Numero de control:</strong>
                    <p>17212334</p>
                    <span class=""></span><strong>Correo Electronico:</strong> <a href="mailto:eduardo.chavez17@tectijuana.edu.mx">eduardo.chavez17@tectijuana.edu.mx</a><br />
                    <br /><span class="glyphicon glyphicon-earphone"></span><strong>Numero de Telefono:</strong> 664-178-89-70
                </address></p>
            <p class="card-text"><small class="text-muted"></small></p>
        </div>
    </div>
</div>